:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000; }

:root {
  --min-width: 320px;
  --max-width: 1430px;
  --width-logo: 2.8rem;
  --height-header: 3.8rem;
  --height-footer: 5rem; }
  @media screen and (min-width: 1024px) {
    :root {
      --height-footer: 10rem; } }

:root {
  --font-family-body:'Roboto', sans-serif;
  --font-family-body-alt: 'Bitter', serif;
  --font-family-h1: 'Lato', sans-serif;
  --font-family-h1-alt: 'Signika', sans-serif;
  --font-family-h2: 'Lato', sans-serif;
  --font-family-banner: 'Lato', sans-serif;
  --font-family-banner-title: 'Open Sans', sans-serif;
  --font-family-footer: 'Lato', sans-serif; }

:root {
  --font-size-h1: 48px;
  --font-size-h2: 30px;
  --font-size-body: 20px;
  --font-size-small: 16px; }
  @media screen and (min-width: 360px) {
    :root {
      --font-size-h1: 53px; } }
  @media screen and (min-width: 412px) {
    :root {
      --font-size-h1: 58px;
      --font-size-h2: 34px; } }
  @media screen and (min-width: 480px) {
    :root {
      --font-size-body: 22px; } }
  @media screen and (min-width: 540px) {
    :root {
      --font-size-small: 18px; } }
  @media screen and (min-width: 640px) {
    :root {
      --font-size-h1: 64px;
      --font-size-h2: 36px; } }
  @media screen and (min-width: 960px) {
    :root {
      --font-size-h1: 72px; } }
  @media screen and (min-width: 1280px) {
    :root {
      --font-size-h2: 39px; } }

:root {
  --line-height-h1: 48px;
  --line-height-body: 28px; }
  @media screen and (min-width: 412px) {
    :root {
      --line-height-h1: 60px; } }
  @media screen and (min-width: 480px) {
    :root {
      --line-height-body: 32px; } }

:root {
  --margin-bottom-h1: 15px; }
  @media screen and (min-width: 412px) {
    :root {
      --margin-bottom-h1: 18px; } }
  @media screen and (min-width: 540px) {
    :root {
      --margin-bottom-h1: 22px; } }
  @media screen and (min-width: 960px) {
    :root {
      --margin-bottom-h1: 28px; } }
  @media screen and (min-width: 1280px) {
    :root {
      --margin-bottom-h1: 36px; } }

:root {
  --padding-alt: 1rem .625rem;
  --padding-primary: 2rem .625rem; }
  @media screen and (min-width: 360px) {
    :root {
      --padding-alt: 1rem .875rem;
      --padding-primary: 2rem .875rem; } }
  @media screen and (min-width: 412px) {
    :root {
      --padding-alt: 1.4rem .875rem;
      --padding-primary: 2.3rem 1.3rem; } }
  @media screen and (min-width: 540px) {
    :root {
      --padding-alt: 1.6rem 1.3rem;
      --padding-primary: 2.5rem 24px; } }
  @media screen and (min-width: 640px) {
    :root {
      --padding-alt: 1.6rem 1.8rem;
      --padding-primary: 2.7rem 30px; } }
  @media screen and (min-width: 960px) {
    :root {
      --padding-alt: 2.5rem 3rem;
      --padding-primary: 2.7rem 70px; } }
  @media screen and (min-width: 1160px) {
    :root {
      --padding-alt: 2.7rem 6rem;
      --padding-primary: 2.7rem 150px; } }

:root {
  --cursor-button: default; }
  @media screen and (min-width: 1024px) {
    :root {
      --cursor-button: pointer; } }

:root {
  --color-link: #aab0b5;
  --color-link-alt: #00008b;
  --color-link-hover: #fff; }
  @media screen and (min-width: 1024px) {
    :root {
      --color-link: #6a7477;
      --color-link-alt: #00008b;
      --color-link-visited: #2e5dd8;
      --color-link-hover: #6a7477;
      --color-link-active: indigo;
      --border-color-link-focus: #41c66e;
      --border-color-link-focus-alt: #62e884;
      --border-radius-link: .3125rem;
      --border-link: .125rem solid transparent; } }

*,
*::before,
*::after {
  box-sizing: border-box; }

body {
  margin: 0;
  font-weight: 400;
  color: #1e3f3f;
  font-size: var(--font-size-body);
  line-height: var(--line-height-body);
  font-family: var(--font-family-body-alt);
  background-color: lightgrey; }

img {
  width: 100%;
  display: block;
  max-width: 100%; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

h1 {
  font-weight: 700;
  font-size: var(--font-size-h1);
  line-height: var(--line-height-h1);
  font-family: var(--font-family-h1-alt);
  margin-bottom: var(--margin-bottom-h1); }

h2 {
  font-weight: 300;
  line-height: 111%;
  font-size: var(--font-size-h2);
  font-family: var(--font-family-h2); }

p {
  margin-top: 0;
  margin-bottom: 0; }

a {
  text-decoration: none; }

a,
i,
button {
  outline: none;
  cursor: var(--cursor-button); }

button {
  padding: 0;
  border: none;
  background: transparent;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit; }
  button:focus {
    outline: none; }
  button::-moz-focus-inner {
    border: 0; }

small {
  font-size: var(--font-size-small); }

ul {
  margin-top: 0;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; }

.main-header__layout,
.main-footer__layout {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  min-width: var(--min-width);
  max-width: var(--max-width); }

.main-header__layout {
  padding: 0 .5rem 0 .3rem; }
  @media screen and (min-width: 412px) {
    .main-header__layout {
      padding: 0 .7rem 0 .5rem; } }
  @media screen and (min-width: 640px) {
    .main-header__layout {
      padding: 0 .9rem 0 .5rem; } }
  @media screen and (min-width: 1024px) {
    .main-header__layout {
      padding: 0 1.5rem 0 .7rem; } }
  @media screen and (min-width: 1280px) {
    .main-header__layout {
      padding: 0 1.5rem 0 1rem; } }
  @media screen and (min-width: 1500px) {
    .main-header__layout {
      padding: 0; } }

/* ------------------ HEADER ---------------------- */
.main-header {
  --font-weight-title: 400;
  --line-height-title: 100%;
  --font-size-title: 1.875rem;
  --margin-right-link-logo: .3rem;
  --background-color-header: #fff;
  --font-color-title-link: #6a7477;
  --font-family-title: 'Amaranth', sans-serif; }
  @media screen and (min-width: 412px) {
    .main-header {
      --font-size-title: 2.0625rem; } }
  @media screen and (min-width: 1024px) {
    .main-header {
      --margin-right-link-logo: 0;
      --padding-title-link: .1rem .2rem;
      --padding-link-logo: .2rem .1rem .2rem 0; } }

.main-header {
  height: var(--height-header);
  background-color: var(--background-color-header); }
  .main-header__container {
    display: flex;
    align-items: center; }
  .main-header__link-logo {
    padding: var(--padding-link-logo);
    margin-right: var(--margin-right-link-logo); }
  .main-header__link-logo, .main-header__title-link {
    border: var(--border-link);
    border-radius: var(--border-radius-link); }
  .main-header__link-logo:focus, .main-header__title-link:focus {
    border-color: var(--border-color-link-focus); }
  .main-header__logo {
    width: var(--width-logo); }
  .main-header__title {
    margin-bottom: 0;
    margin-right: auto;
    line-height: var(--line-height-title);
    font-size: var(--font-size-title);
    font-family: var(--font-family-title);
    font-weight: var(--font-weight-title); }
  .main-header__title-link {
    padding: var(--padding-title-link);
    color: var(--font-color-title-link); }

.burguer-button {
  --color-line-inner: #094293;
  --display-button: visibility; }
  @media screen and (min-width: 1024px) {
    .burguer-button {
      --display-button: none; } }

.burguer-button {
  width: 2rem;
  height: 2rem;
  position: relative;
  cursor: var(--cursor-button);
  display: var(--display-button); }
  .burguer-button__line, .burguer-button__line::before, .burguer-button__line::after {
    width: 100%;
    height: .25rem;
    position: absolute;
    border-radius: 1.25rem;
    background-color: var(--color-line-inner); }
  .burguer-button__line {
    top: 50%;
    transform: translateY(-50%); }
  .burguer-button__line::before, .burguer-button__line::after {
    content: '';
    right: 0; }
  .burguer-button__line::before {
    top: -200%; }
  .burguer-button__line::after {
    top: 200%; }

.cruz {
  transform: rotateZ(45deg);
  top: 43%; }
  .cruz::before {
    transform: rotateZ(90deg); }
  .cruz::before, .cruz::after {
    top: 0; }

.main-nav {
  /* --------------- NAV ---------------*/
  --main-nav-width: 80vw;
  --main-nav-position: fixed;
  --main-nav-overflow-y: scroll;
  --main-nav-transition: left .6s;
  --main-nav-flex-direction: column;
  --main-nav-background-color: #2a3b47;
  /* -------------------MENU ---------------------*/
  --border-top-menu: .0625rem solid #11191e;
  --border-bottom-menu: .125rem solid #485761; }
  @media screen and (min-width: 1024px) {
    .main-nav {
      /* ---------------- NAV ----------------*/
      --main-nav-width: auto;
      --main-nav-position: static;
      --main-nav-overflow-y: auto;
      --main-nav-transition: none;
      --main-nav-flex-direction: row;
      --main-nav-align-items: center;
      --main-nav-background-color: transparent;
      /* -----------MENU -------------*/
      --display-menu: flex;
      --border-top-menu: none;
      --border-bottom-menu: none; } }

.main-nav {
  left: -80vw;
  display: flex;
  top: var(--height-header);
  width: var(--main-nav-width);
  position: var(--main-nav-position);
  overflow-y: var(--main-nav-overflow-y);
  transition: var(--main-nav-transition);
  align-items: var(--main-nav-align-items);
  flex-direction: var(--main-nav-flex-direction);
  background-color: var(--main-nav-background-color);
  --padding-link: .7rem; }
  .main-nav__move {
    left: 0; }
  .main-nav__menu {
    display: var(--display-menu);
    border-top: var(--border-top-menu);
    border-bottom: var(--border-bottom-menu); }
  .main-nav__item {
    border-top: .125rem solid #485761;
    border-bottom: .0625rem solid #11191e; }
    @media screen and (min-width: 1024px) {
      .main-nav__item {
        border: none;
        margin-right: .625rem; } }
  @media screen and (min-width: 1024px) {
    .main-nav__item:last-child {
      margin-right: 2.5rem; } }
  .main-nav__item:hover {
    border-top: none;
    border-bottom: none; }
  .main-nav__link {
    display: block;
    padding: var(--padding-link);
    font-weight: 400;
    color: var(--color-link);
    border: var(--border-link);
    border-radius: var(--border-radius-link); }
    @media screen and (min-width: 1024px) {
      .main-nav__link {
        padding: .1rem .5rem;
        font-weight: 500; } }
  .main-nav__link:hover {
    color: var(--color-link-hover); }
  .main-nav__link:focus {
    border-color: var(--border-color-link-focus); }

.help-bar {
  order: -1;
  display: flex;
  padding: 1.2rem 1rem;
  justify-content: flex-end; }
  @media screen and (min-width: 1024px) {
    .help-bar {
      padding: 0;
      order: unset; } }
  .help-bar__button {
    border: var(--border-link);
    border-radius: var(--border-radius-link); }
    @media screen and (min-width: 1024px) {
      .help-bar__button {
        padding: .2rem; } }
  .help-bar__button:focus {
    border-color: var(--border-color-link-focus); }
  .help-bar__button:first-child {
    margin-right: .8rem; }
    @media screen and (min-width: 1024px) {
      .help-bar__button:first-child {
        margin-right: .6rem; } }
  .help-bar__icon {
    width: 2.8rem; }

.social-bar {
  display: flex;
  margin-top: auto;
  font-size: 1.6rem;
  padding: 1rem 0 1.2rem;
  justify-content: space-around; }
  @media screen and (min-width: 540px) {
    .social-bar {
      font-size: 1.8rem;
      padding: 1rem 1rem 1.2rem; } }
  @media screen and (min-width: 960px) {
    .social-bar {
      padding: 1rem 5rem 1.2rem; } }
  @media screen and (min-width: 1024px) {
    .social-bar {
      margin: 0;
      padding: 0 20rem; } }
  .social-bar a {
    color: #fff; }
    @media screen and (min-width: 1024px) {
      .social-bar a {
        width: 3.125rem;
        height: 3.125rem;
        border: 2px solid transparent;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center; } }
  @media screen and (min-width: 1024px) {
    .social-bar a:focus {
      border-color: var(--border-color-link-focus-alt); } }

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center; }
  .main__title {
    color: #000;
    margin-bottom: 0; }

.main-footer {
  background-color: #2e5dd8;
  height: var(--height-footer); }
  .main-footer__container {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .main-footer__title {
    color: #fff;
    text-align: center; }
    @media screen and (min-width: 1024px) {
      .main-footer__title {
        margin-bottom: 30px; } }
