.main-header__layout {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 .5rem 0 .3rem;
    min-width: var(--min-width);
    max-width: var(--max-width);

    @include from(xlarge) {
        padding: 0;
    }
}





