.main-footer {
    background-color: #2e5dd8;
    height: var(--height-footer);

    &__container {
        line-height: var(--height-footer);

        @include from(large) {
            line-height:unset;
        }
    }

    &__title {
        color: #fff;
        text-align: center;

        @include from(large) {
            margin-bottom: 30px;
        }
    }

}