.main-header {

    &__container {
        display: flex;
    }

    // &__container :is(a) {
    //     background-color: #fff;
    // }

    &__container :is(img) {
        width: 6rem;
    }

    &__title {
        font-size: 1rem;
        margin-bottom: 0;
    }
}