.main-header {
    top: 0;
    width: 100%;
    height: var(--height-header);
    // background-color: lightgreen;

    &__container {
        display: flex;
        align-items: center;

        // background-color: lightgrey;
    }

    &__logo {
        width: 3rem;
        margin-right: .5rem;
    }

    &__title {
        font-size: 2rem;
        margin-bottom: 0;
        font-weight: 700;
        margin-right: auto;
        font-family: 'Amaranth', sans-serif;
    }
}