.main-nav {

    left: -80vw;
    width: 80vw;
    display: flex;
    position: fixed;
    overflow-y: scroll;
    transition: left .6s;
    flex-direction: column;
    top: var(--height-header);
    background-color: #2a3b47;

    @include from(large) {
        width: auto;
        position: static;
        overflow-y: auto;
        transition: none;
        flex-direction: row;
        background-color: transparent;
    }

    &__move {
        left: 0;
    }

    &__menu {
        border-top: 1px solid #11191e;
        border-bottom: 2px solid #485761;

        @include from(large) {
            border: none;
            display: flex;
        }
    }

    &__item {
        border-top: 2px solid #485761;
        border-bottom: 1px solid #11191e;

        @include from(large) {
            border: none;
            margin-right: 10px;
        }
    }

    &__item:last-child {

        @include from(large) {
            margin-right: 40px;
        }
    }

    &__item:hover {
        border-top: none;
        border-bottom: none;
    }

    &__link {
        display: block;
        padding: .7rem;
        font-weight: 400;
        color: var(--color-link);

        @include from(large) {
            border: 3px solid transparent;
            border-radius: 5px;
            padding: .1rem .5rem;
            font-weight: 500;
        }
    }

    // &__link:visited {
    //     color: var(--color-link-visited);
    // }

    &__link:hover {
        color: var(--color-link-hover);
    }

    &__link:focus {
        border-color: var(--border-color-link-focus);
    }
}

.help-bar {
    order: -1;
    display: flex;
    padding: 1.2rem 1rem;
    justify-content: flex-end;

    @include from(large) {
        padding: 0;
        order: unset;
    }

    &__button:first-child {
        margin-right: .8rem;

        @include from(large) {
            margin-right: 1.3rem;
        }
    }

    &__icon {
        width: 2.8rem;
    }
}

.social-bar {
    display: flex;
    color: #fff;
    margin-top: auto;
    font-size: 1.6rem;
    padding: 1rem 0 1.2rem;
    justify-content: space-around;

    // 540px
    @include from(medium) {
        font-size: 1.8rem;
        padding: 1rem 1rem 1.2rem;
    }

    // 960px
    @include from(xxmedium) {
        padding: 1rem 5rem 1.2rem;
    }

    // 1024px
    @include from(large) {
        margin: 0;
        padding: 0 20rem;
    }
}

